<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
    <body class="bg-light">
        <header class="bg-success text-white text-center py-3">
            <h1>Spendalytics</h1>
            <nav>
                <a href="/" class="text-white me-3">New</a>
                <a href="/transactions" class="text-white me-3">Transactions</a>
                <a href="/templates" class="text-white me-3">Templates</a>
                <a href="https://line.me/ti/p/cn9-4_ryci" class="text-white">Report</a>
            </nav>
        </header>
    <div class="container mt-4">
        <section class="mb-4 p-4 bg-white rounded">
        <h2 class="mb-3">Transactions</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-truncate">TemplateName</th>
                        <th class="text-truncate">Category</th>
                        <th class="text-truncate">Description</th>
                        <th class="text-truncate">Amount</th>
                        <th class="text-truncate" style="display: none;">Type</th>
                        <th class="text-truncate">Payment Method</th>
                        <th class="text-truncate">Merchant</th>
                        <th class="text-truncate">Location</th>
                        <th class="text-truncate">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr data-id="{{ transaction.TransactionID }}">
                    <td class="text-truncate" contenteditable="true" data-original="{{ transaction.TemplateName }}" onblur="saveChanges(this, 'TemplateName')">{{ transaction.TemplateName }}</td>           
                    <td class="text-truncate" contenteditable="true" data-original="{{ transaction.Category }}" onblur="saveChanges(this, 'category')">{{ transaction.Category }}</td>
                    <td class="text-truncate" contenteditable="true" data-original="{{ transaction.Description }}" onblur="saveChanges(this, 'description')">{{ transaction.Description }}</td>
                    <td class="text-truncate">{% if transaction.TransactionType == 'Expense' %}-{{ transaction.Amount|round|int }}
                            {% else %}
                                {{ transaction.Amount|round|int }}
                            {% endif %}</td>
                    <td class="text-truncate" style="display: none;">{{ transaction.TransactionType }}</td>
                    <td class="text-truncate">{{ transaction.PaymentMethod }}</td>
                    <td class="text-truncate">{{ transaction.Merchant }}</td>
                    <td class="text-truncate">{{ transaction.Location }}</td>
                    <td class="text-truncate">
                                <form action="/delete/{{ transaction.TransactionID }}" method="post" class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this transaction?');">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>

        function saveChanges(cell, type) {
            const $cell = $(cell);
            const originalValue = $cell.attr('data-original');
            const currentValue = $cell.text();
    
            // 如果值沒有更改，則直接返回
            if (currentValue === originalValue) {
                return;
            }
            const row = $(cell).closest('tr');
            const transactionId = row.data('id');
    
            let data = {};
    
            // 根據type來判斷要更新哪個欄位
            if (type === 'description') {
                data.description = currentValue;
            } else if (type === 'category') {
                data.category = currentValue;
            }
    
            $.ajax({
                url: `/update/${transactionId}`,
                method: 'POST',
                data: data,
                success: function(response){
                    console.log('Updated successfully!');
                },
                error: function(error){
                    alert('Error updating transaction.');
                }
            });
        }
    </script>
</body>
</html>
