<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Spendalytics</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/transactions">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/templates">Templates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://line.me/ti/p/cn9-4_ryci">Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Transactions</h2>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <a href="transactions" id="day-report-btn" class="btn btn-outline-primary me-2">日報表</a>
                            <a href="month_transactions" id="month-report-btn" class="btn btn-outline-primary me-2">月報表</a>
                            <a href="year_transactions" id="year-report-btn" class="btn btn-outline-primary">年報表</a>
                        </div>
                        <h5>Total Spent: <span id="total-amount">{{ total_spent }}</span></h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-truncate">Date</th>
                                    <th class="text-truncate">Category</th>
                                    <th class="text-truncate">Description</th>
                                    <th class="text-truncate">Amount</th>
                                    <th class="text-truncate" style="display: none;">Type</th>
                                    <th class="text-truncate">Payment Method</th>
                                    <th class="text-truncate">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                    <tr data-id="{{ transaction.TransactionID }}">            
                                        <td class="text-truncate">{{ transaction.TransactionDate }}</td>
                                        <td class="text-truncate" contenteditable="true" data-original="{{ transaction.Category }}" onblur="saveChanges(this, 'category')">{{ transaction.Category }}</td>
                                        <td class="text-truncate" contenteditable="true" data-original="{{ transaction.Description }}" onblur="saveChanges(this, 'description')">{{ transaction.Description }}</td>
                                        <td class="text-truncate">
                                            {% if transaction.TransactionType == 'Expense' %}
                                            -{{ transaction.Amount|round|int }}
                                        {% else %}
                                            {{ transaction.Amount|round|int }}
                                        {% endif %}</td>
                                        <td class="text-truncate" style="display: none;">{{ transaction.TransactionType }}</td>
                                        <td class="text-truncate">{{ transaction.PaymentMethod }}</td>
                                        <td class="text-truncate">
                                            <form action="/delete/{{ transaction.TransactionID }}" method="post" class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this transaction?');">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>

        function saveChanges(cell, type) {
            const $cell = $(cell);
            const originalValue = $cell.attr('data-original');
            const currentValue = $cell.text();
    
            // 如果值沒有更改，則直接返回
            if (currentValue === originalValue) {
                return;
            }
            const row = $(cell).closest('tr');
            const transactionId = row.data('id');
    
            let data = {};
    
            // 根據type來判斷要更新哪個欄位
            if (type === 'description') {
                data.description = currentValue;
            } else if (type === 'category') {
                data.category = currentValue;
            }
    
            $.ajax({
                url: `/update/${transactionId}`,
                method: 'POST',
                data: data,
                success: function(response){
                    console.log('Updated successfully!');
                },
                error: function(error){
                    alert('Error updating transaction.');
                }
            });
        }
    </script>
</body>
</html>
